*.w[cdlf]x
*.w[cdlf]x64
*.dsx
*.[oa]
*.ppu
*.compiled
*.bak
*.log
*.lps
plugins/*/pluginst.inf
backup/
plugins/dist/
plugins/wlx/hx_qt_crap/redist/
plugins/wlx/hx_webkit_crap/redist/
plugins/wlx/hx_webkit_qt_crap/redist/
plugins/wfx/adbplugin-x64/*.zip
plugins/wfx/adbplugin-x64/*.zst
plugins/wfx/adbplugin-x64/*.xz
plugins/wfx/adbplugin-x64/src/
plugins/wfx/adbplugin-x64/pkg/
plugins/wcx/bit7z/src/third_party/bit7z/
utils/atril-gtk2/*.zip
utils/atril-gtk2/*.zst
utils/atril-gtk2/*.xz
utils/atril-gtk2/src/
utils/atril-gtk2/pkg/
utils/gtksourceview2/*.bz2
utils/gtksourceview2/*.zst
utils/gtksourceview2/src/
utils/gtksourceview2/pkg/
utils/gtkimageview/*.zst
utils/gtkimageview/src/
utils/gtkimageview/pkg/
utils/freearc/*.zst
utils/freearc/*.xz
utils/freearc/src/
utils/freearc/pkg/
*kostyl
!*kostyl/
settings.ini
