*.w[cdlf]x
*.w[cdlf]x64
*.dsx
*.[oa]
*.ppu
*.compiled
*.bak
*.log
*.lps
plugins/*/pluginst.inf
backup/
plugins/dist/
plugins/wlx/hx_qt_crap/redist/
plugins/wlx/hx_webkit_crap/redist/
plugins/wlx/hx_webkit_qt_crap/redist/
plugins/wfx/adbplugin-x64/*.zip
plugins/wfx/adbplugin-x64/*.zst
plugins/wfx/adbplugin-x64/*.xz
plugins/wfx/adbplugin-x64/src/
plugins/wfx/adbplugin-x64/pkg/
plugins/wcx/bit7z/src/third_party/bit7z/
third-party_and_other/atril-gtk2/*.zip
third-party_and_other/atril-gtk2/*.zst
third-party_and_other/atril-gtk2/*.xz
third-party_and_other/atril-gtk2/src/
third-party_and_other/atril-gtk2/pkg/
third-party_and_other/gtksourceview2/*.bz2
third-party_and_other/gtksourceview2/*.zst
third-party_and_other/gtksourceview2/src/
third-party_and_other/gtksourceview2/pkg/
third-party_and_other/gtkimageview/*.zst
third-party_and_other/gtkimageview/src/
third-party_and_other/gtkimageview/pkg/
third-party_and_other/freearc/*.zst
third-party_and_other/freearc/*.xz
third-party_and_other/freearc/src/
third-party_and_other/freearc/pkg/
third-party_and_other/qtermwidget-qt5/*.xz
third-party_and_other/qtermwidget-qt5/*.zst
third-party_and_other/qtermwidget-qt5/src/
third-party_and_other/qtermwidget-qt5/pkg/
*kostyl
!*kostyl/
settings.ini
