*.w[cdlf]x
*.w[cdlf]x64
*.dsx
*.[oa]
*.ppu
*.compiled
*.bak
*.log
*.lps
plugins/*/pluginst.inf
backup/
plugins/dist/
plugins/wlx/hx_qt_crap/redist/
plugins/wlx/hx_webkit_crap/redist/
plugins/wlx/hx_webkit_qt_crap/redist/
plugins/wcx/bit7z/src/third_party/bit7z/
stash/atril-gtk2/*.zip
stash/atril-gtk2/*.zst
stash/atril-gtk2/*.xz
stash/atril-gtk2/src/
stash/atril-gtk2/pkg/
stash/gtksourceview2/*.bz2
stash/gtksourceview2/*.zst
stash/gtksourceview2/src/
stash/gtksourceview2/pkg/
stash/gtkimageview/*.zst
stash/gtkimageview/*.gz
stash/gtkimageview/src/
stash/gtkimageview/pkg/
stash/freearc/*.zst
stash/freearc/*.xz
stash/freearc/src/
stash/freearc/pkg/
stash/qtermwidget-qt5/*.xz
stash/qtermwidget-qt5/*.zst
stash/qtermwidget-qt5/src/
stash/qtermwidget-qt5/pkg/
*kostyl
!*kostyl/
plugins/*/settings.ini
